<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/HuoChaoDuo.app</string>
		<key>Architectures</key>
		<array>
			<string>armv7</string>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.huochaoduo.driver</string>
		<key>CFBundleShortVersionString</key>
		<string>4.40.10</string>
		<key>CFBundleVersion</key>
		<string>201902250000</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Kuotian Hu (6VFWF8W922)</string>
		<key>Team</key>
		<string>6PU7HJG232</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2021-03-09T03:20:02Z</date>
	<key>Name</key>
	<string>HuoChaoDuo</string>
	<key>SchemeName</key>
	<string>HuoChaoDuo</string>
</dict>
</plist>
